#doc_display
  %h3= "The HTMLized document is displayed here."
  #pages
    %ul
      = @pages.times do |p|
        %li
          = link_to("Page-#{p + 1}", "#{CONVERSION_SERVER}/#{@loc}/#{@doc_name}-#{p + 1}.html")
  #doc_container
  
