#doc_display
  %span{:id => 'link_back'}
    = link_to 'Upload another document', root_url
<<<<<<< HEAD
  #toolbar
    %ul
      %li
        %span Jump to Page:
        %select{:id => 'page_select'}
          - for p in (1..@pages)
            %option{:value => "#{fetch_documents_url}?fetch_url=#{CONVERSION_SERVER}/#{@loc}/#{@doc_name}-#{p}.html"}
              = "#{p}"  
      %li
        = link_to image_tag("prev_page.png", :id => 'prev_page', :size => '30x30'), 'javascript:void'
      %li
        = link_to image_tag("next_page.png", :id => 'next_page', :size => '30x30'), 'javascript:void'
      %li
        = link_to image_tag("zoom_in.png", :id => 'zoomin', :size => '30x30'), 'javascript:void'
      %li
        = link_to image_tag("zoom_out.png", :id => 'zoomout', :size => '30x30'), 'javascript:void'
  #doc_container
    #spinner
      = image_tag "ajax_spinner.gif"
      %h2 LOADING..
    #document {:class => "zoom_3"}
=======
  - if @loc.blank? || @pages == 0 || @pages.blank?
    #exception
      Sorry. There is a problem displaying this document!
  - else
    #toolbar
      %ul
        %li
          Jump to Page:
          %select{:id => 'page_select'}
            - for p in (1..@pages)
              %option{:value => "#{fetch_documents_url}?fetch_url=#{CONVERSION_SERVER}/#{@loc}/#{@doc_name}-#{p}.html"}
                = "#{p}"  
        %li
          = link_to image_tag("prev_page.png", :id => 'prev_page', :size => '30x30'), 'javascript:void'
        %li
          = link_to image_tag("next_page.png", :id => 'next_page', :size => '30x30'), 'javascript:void'
        %li
          = link_to image_tag("zoom_in.png", :id => 'zoomin', :size => '30x30'), 'javascript:void'
        %li
          = link_to image_tag("zoom_out.png", :id => 'zoomout', :size => '30x30'), 'javascript:void'
    #doc_container
      #spinner
        = image_tag "ajax_spinner.gif"
        %h2 LOADING..
      #document{:class => "zoom_3"}
>>>>>>> f59a239dc72e1693fe1a5452231276e6d42e31f2

  
