!!!
%html
  %head
    %title HTML based document viewer
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    #header
      %h1 HTML Document viewer 
    #container
      .clear
      #content
        #flash_bar
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" unless msg.blank?
        = yield

     
